body {
  /**background: url(../images/bg.jpg);**/
  font: 14px HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #202020;
}

h1, h2, h3 {
  font-weight:200;
  color:#eee;
}

.container {
  width:1000px;
  padding-top: 30px;
}


i {
  margin-right:10px;
}

.hide{
  display: none;
}

.logo {
  background: url(../img/logo.png) no-repeat;
  background-size: 40px 50px;

  float: left;
  margin-right: 20px;
  height:50px;
  width:40px;
}

.nav>li>a:hover{color:#222 !important;}
.nav>li>a:hover em{color:#222 !important;}

em {
  font-weight: bold;
}

li a i{
  font-size:15px;
  margin-left: 10px;

}


