extends ../layout

block content
  .container

    .navbar-wrapper
          .container
            .navbar.navbar-inverse
              .navbar-inner
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.brand(href='#') mess.io

    h1
      = "Application "

    h2
      ="JSON"
    code(class="prettyprint lang-java-script")
      p= JSON.stringify(object.toJSON(), null, 2)


  