extends ../layout

block content
  .container

    .navbar-wrapper
          .container
            .navbar.navbar-inverse
              .navbar-inner
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.brand(href='#') mess.io

    h1
      = title

    form(action='/applications',method='post', enctype='multipart/form-data')
      fieldset
        legend Information
        label(for='name') Name
        input(id='name', type='text', value='', placeholder='Name', name='name')
      fieldset
        legend GCM
      fieldset
        legend APNs
        .row
          .span2
            label(for='apns_key') APNs key
            input(type="file", name="apns_key")
          .span2
            label(for='apns_cert') APNs certificate
            input(type="file", name="apns_cert")
      fieldset
        button(type='submit', class='btn') Save
