extends layout

block content
  a(href='https://github.com/matthiasleitner/mess.io')
    img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')
  .container
    .logo
    h1.page_name
      = "mess.io"

    h2.page_description
      = "service for unified push messaging"
  .container
    .row
      .span10
        h3
          = "About"
        p
          strong="mess.io"
          =" is an open source solution for handling real-time notifications" 
          br
          ="for browsers, iOS and Android clients built on "
          strong="node.js "
          ="and "
          strong="Redis"
          =" written in "
          strong="CoffeeScript."
        #demo.hide
          h3
            = "Try it now"
          .bs-docs-example
            ="Just paste the following into your terminal:"
          pre.prettyprint.linenums
            ol.linenums
              li.L0
                span.tag
                  ='curl -H "Content-Type: application/json" -X POST '
                span.tag
                  ='"'
                  span#url
                  ='applications/1/users/'
                  span#user_id
                  ='/messages?text=hello%20world"'
          .span5
            .badge.badge-info.clients
            h3.left
              ="active connections"
          .span4
            .badge.badge-info.messages
              =messageCounter
            h3.left
              ="messages sent"
    .container
      .row
        footer
          
          ="mess.io by Matthias Leitner. Released under the MIT license -  © 2013 smartcode.at"
           
            

