doctype 5
html
  head
    title=title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    block scripts
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
      script(src='http://localhost:5002/socket.io/socket.io.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/md5.js')
      script(src='/js/jquery.browser-fingerprint-1.1.min.js')
      script(src='/js/event.js')
      script(src='/js/push.js')
      script(src='/js/script.js')

      
    

